.container {
    text-align: center;
    margin-top: 40px;
}

#add-task {
    margin-top: 30px;
}

#add-button {
    margin-top: 20px;
}

.added-tasks {
    margin-top: 30px;
}

span {
    color: rgb(49, 165, 49);
    font-size: 12px;
}

.added-tasks .tasks {
    margin-top: 40px;
}